
# PostgreSQL connection

NPGSQL_HOST=
NPGSQL_PORT=
NPGSQL_USER=
NPGSQL_DATABASE=
NPGSQL_PASSWORD=

# Secret Token Jwt Generator

KEY_TOKEN_GEN=


# Email Verification

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_FROM=
EMAIL_FROMNAME=
EMAIL_PASSWORD=

# Hash verification code

CODE_HASH_SECRET=
