# PostgreSQL connection

NPGSQL_HOST=
NPGSQL_PORT=
NPGSQL_USER=
NPGSQL_PASSWORD=
NPGSQL_DATABASE=

# Jwt

JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRATION_MINUTES=

# Email Verification

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_FROM=
EMAIL_FROMNAME=
EMAIL_PASSWORD=

# Hash verification code

CODE_HASH_SECRET=
